body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #dff9fb;
}
/* search box  */
.form-control:focus {
  border: none;
  outline: none;
}
.center {
  float: none;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* all products  */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  margin: 5px;
  background: #f7f7f0;
  height: 430px;
  border-radius: 5px;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid #2196f3;
}
/* product image  */
.image {
  background: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}
.product-image {
  width: 150px;
  height: 150px;
}
.product-body {
  height: 180px;
}
.product-title {
  color: #202435;
  font-size: 18px;
  font-weight: 500;
}
.product-title:hover {
  color: #3e52a2;
}
.product-categories {
  font-size: 14px;
  font-weight: 500;
  color: #22c16a;
}
.star-box {
  display: flex;
  margin-bottom: 10px;
}
.star-box p {
  margin: 0 10px;
  font-weight: 500;
  color: #bdbcbc;
}
/*dynamic star section  */
.stars-outer {
  position: relative;
  display: inline;
}
.stars-inner {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #bdbcbc;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}
/* total review  */
.review-count {
  display: flex;
}
.review-count .count {
  margin: 0 10px;
}
.product-price {
  color: #da2d58;
}
/* buy now button  */
.buy-now {
  border: 1px solid #2196f3;
  background-color: white;
  color: #2196f3;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
.buy-now:hover {
  background: #2196f3;
  color: white;
}
/* cart section  */
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background: #fff;
}
.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 992px) {
  .single-product {
    height: 500px;
  }
  .product-body {
    height: 255px;
  }
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
